/* Variables */
$xmlDeclarationColor: firebrick;
$documentTypeDeclarationColor: lightcoral;
$internalSubsetColor: orange;
$markupCharacterColor: grey;
$prefixColor: purple;
$tagNameColor: blue;
$namespaceColor: purple;
$attributeNameColor: brown;
$attributeValueColor: black;
$commentColor: darkgreen;
$cdataColor: maroon;
$processingInstructionColor: red;
$processingInstructionDataColor: black;
$entityColor: magenta;


xmlsrc {
    font-family: monospace;
    font-size: 1.25em;
}

xmlDeclaration {
    color: $xmlDeclarationColor;
    display: block;
}

xmlDeclaration::before {
    content: "<?xml";
}

xmlDeclaration::after {
    content: "?>";
}

version::before {
    content: ' version="';
}

encoding::before {
    content: ' encoding="';
}

standalone::before {
    content: ' standalone="';
}

version::after,
encoding::after,
standalone::after,
pubIdLiteral::after,
systemLiteral::after,
uri::after,
value::after {
    content: '"';
}

documentTypeDeclaration {
    color: $documentTypeDeclarationColor;
}

documentTypeDeclaration::before {
    content: "<!DOCTYPE ";
}

documentTypeDeclaration::after,
startTag::after,
prefixedStartTag::after,
endTag::after,
prefixedEndTag::after {
    content: ">";
}

publicExternalEntity::before {
    content: " PUBLIC";
}

systemExternalEntity::before {
    content: " SYSTEM";
}

pubIdLiteral::before,
systemLiteral::before {
    content: ' "';
}

internalSubset {
    color: $internalSubsetColor;
}

internalSubset::before {
    content: " ["
}

internalSubset::after {
    content: "]"
}

cdata,
comment,
element,
processingInstruction {
    display: block;
    margin-left: 2ch;
}

startTag::before,
prefixedStartTag::before,
emptyTag::before,
prefixedEmptyTag::before {
    color: $markupCharacterColor;
    content: "<";
}

startTag::after,
prefixedStartTag::after {
    color: $markupCharacterColor;
}

emptyTag::after,
prefixedEmptyTag::after {
    color: $markupCharacterColor;
    content: "/>";
}

prefix {
    color: $prefixColor;
}

prefix:after,
namespace > prefix::before {
    content: ":";
}

namespace > prefix::after {
    content: "";
}

name {
    color: $tagNameColor;
}

defaultNamespace,
namespace {
    color: $namespaceColor;
}

defaultNamespace::before,
namespace::before {
    content: " xmlns";
}

uri::before,
uri::before,
value::before {
    content: '="';
}

attribute::before,
target::after {
    content: " ";
}

attribute > name {
    color: $attributeNameColor;
}

value {
    color: $attributeValueColor;
}

value::before {
    color: $markupCharacterColor;
}

value::after {
    color: $markupCharacterColor;
}

endTag::before,
prefixedEndTag::before {
    color: $markupCharacterColor;
    content: "</";
}

endTag::after,
prefixedEndTag::after {
    color: $markupCharacterColor;
}

comment {
    color: $commentColor;
}

comment::before {
    content: "<!-- ";
}

comment::after {
    content: " -->";
}

cdata {
    color: $cdataColor;
}

cdata::before {
    content: "<![CDATA[ ";
}

cdata::after {
    content: " ]]>";
}

processingInstruction {
    color: $processingInstructionColor;
}

processingInstruction::before {
    content: "<?";
}

processingInstruction::after {
    content: " ?>";
}

data {
    color: $processingInstructionDataColor;
}

entity {
    color: $entityColor;
}

entity::before {
    content: "&";
}

entity::after {
    content: ";";
}

*[display="false"] {
    display: none;
}
